
.App {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  align-items: stretch;
  width: auto;
  height: 800px; /*TODO fix this*/
}

.Tools {
  display: flex;
  align-items: stretch;
}